{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="col-sm-12 d-flex flex-row-reverse pt-2">
            <div class="d-flex justify-content-center align-items-center flex-row-reverse mb-2">
                <img style="width:40px;" src="{{ asset('build/images/ginkgo.png') }}" alt="Symbole collection">
                <p class="align-self-center m-0 p-1 compteur"> {{ counts |length}} / 80</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-sm-12 text-center p-3 skin d-flex justify-content-center align-items-center">
            <div class="d-flex justify-content-center align-items-center" style="background-color:#C19536; border-radius: 50%; height : 200px; width: 200px;">
                <img class="skin-image" src="{{ asset('build/images/berries.png') }}" alt="Skin">
            </div>
        </div>
        <h1 class="text-center">Bienvenue !</h1>
        <div class="col-sm-12 text-center pt-5">
            <img style="width:100px;" src="{{ asset('build/images/ginkgo.png') }}" alt="Skin">
            <h2 class="text-center p-3">Ta Collection</h2>
        </div>
        <div class="col-sm-12 text-center p-3">
            <h3 class="mb-3">Cherche les kéocaches disponibles sur ton trajet</h3>
            <a href="{{ path('map') }}" class="btn btn-primary btn-lg btn-block font-weight-bold"><i class="fas fa-map-marker-alt mr-2"></i> C'est parti !</a>
        </div>
    </div>
{% endblock %}
