{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="col-sm-12 d-flex flex-row-reverse pt-2">
            <div class="d-flex justify-content-center align-items-center flex-row-reverse mb-2">
                <img style="width:40px;" src="{{ asset('build/images/ginkgo.png') }}" alt="Symbole collection">
                <p class="align-self-center m-0 p-1 compteur"> {{ counts |length}} / 80</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-sm-12 text-center p-3 skin d-flex justify-content-center align-items-center">
            <div class="d-flex justify-content-center align-items-center" style="background-color:#C19536; border-radius: 50%; height : 200px; width: 200px;">
                <img class="skin-image" src="{{ asset('build/images/berries.png') }}" alt="Skin">
            </div>
        </div>
        <h1 class="text-center">Bienvenue !</h1>
        <div class="row justify-content-center mt-4" style="color: #B3CCBF; font-size: 20px;  transform: scaleX(-1)"> <i class="fab fa-envira"></i></div>

        <div class="col-sm-12 text-center pt-5">
            <a href="{{ path('app_collection') }}">
                <img style="width:100px;" src="{{ asset('build/images/ginkgo.png') }}" alt="Skin">
                <h2 class="text-center p-3">Ta Collection</h2>
            </a>
        </div>
        <div class="row justify-content-center m-3" style="color: #B3CCBF; font-size: 20px"> <i class="fab fa-envira"></i></div>

        <div class="col-sm-12 text-center p-3">
            <h3 class="mb-4 mt-4" style="color: #B3CCBF; font-size: 25px">Cherche les kéocaches disponibles sur ton trajet</h3>
            <a href="{{ path('map') }}" class="btn btn-primary btn-lg btn-block font-weight-bold"><h4><i class="fas fa-map-marker-alt mr-2"></i> C'est parti !</h4></a>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark default-color">
        <ul class="d-flex flex-row justify-content-between align-items-center">
            <li class="nav-item m-2">
                <a class="nav-link" href="{{ path ('app_index') }}"><i class="fas fa-home"></i></a>
            </li>
            <li class="nav-item m-2">
                <a class="nav-link" href="{{ path ('map') }}"><i class="fas fa-map-marker-alt mr-2"></i></a>
            </li>
            <li class="nav-item m-2">
                <a class="nav-link" href="{{ path ('app_collection') }}"><img style="height: 32px" src="{{ asset('build/images/ginkgo(2).png') }}" alt=""></a>
            </li>
        </ul>
    </nav>
{% endblock %}

