{% extends 'base.html.twig' %}

{% block content %}

    <div class="container-fluid m-0 pb-3">
        <div class="col-sm-12 d-flex flex-row-reverse pt-2">
            <div class="d-flex justify-content-center align-items-center flex-row">
                <div class="compteur-border">
                    <p class="align-self-center m-0 p-1 compteur"> {{ counts |length}} / 80</p>
                </div>
                <img class="image-compteur" src="{{ asset('build/images/ginkgo.png') }}" alt="Symbole collection">
            </div>
        </div>
    </div>

    <h1 class="title d-flex justify-content-center m-4">Kéodex</h1>

    <div class="accordion justify-content-start " id="accordionDeals">
        <div class="card">
            {% for category in categories %}
                <div class="card-header card_button" id="headingOne">
                    <button class="btn btn-link category_button mb-3 " type="button" data-toggle="collapse"
                            data-target="#collapse{{ category.id }}"
                            aria-expanded="false" aria-controls="collapseOne"><h3 class="title"><img src="{{ asset(category.path) }}" class="imgCategory">{{ category.name }}<i class="fas fa-chevron-down ml-3"></i><i class="fas fa-chevron-up ml-3"></i></h3>
                    </button>
                </div>
                {% for line in category.lines %}
                    <div id="collapse{{ category.id }}" class="collapse" aria-labelledby="headingOne"
                         data-parent="#accordionDeals">
                        <div class="card-body tool_card">
                            <h4><span class="badge badge-pill badge-primary" style="background-color: {{ line.color }}">{{ line.numberName }}</span></h4>
                        </div>
                        <div class="row">
                            {% for picture in line.pictures %}
                                <div class="imagehihi col-3">
                                    <img src="{{ asset(picture.path) }}"
                                         class="imageKeodis d-flex align-items-between m-4" alt="icone">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark default-color">
        <ul class="d-flex flex-row justify-content-between align-items-center">
            <li class="nav-item m-2">
                <a class="nav-link" href="{{ path ('app_index') }}"><i class="fas fa-home"></i></a>
            </li>
            <li class="nav-item m-2">
                <a class="nav-link" href="{{ path ('map') }}"><i class="fas fa-map-marker-alt mr-2"></i></a>
            </li>
            <li class="nav-item m-2">
                <a class="nav-link" href="{{ path ('app_collection') }}"><img style="height: 32px" src="{{ asset('build/images/ginkgo(2).png') }}" alt=""></a>
            </li>
        </ul>
    </nav>
{% endblock %}
